// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    font-family: 'Minecraft';
    src: url('./assets/fonts/Minecraft.ttf');
    font-weight: normal;
    font-style: normal;
  }

.my-custom-class-good{
    --background:#4CAF50;
    --color:white;
}
.my-custom-class-wrong{
    --background: #E91E63;
    --color:white;
}